@import "~bootstrap/scss/bootstrap";
// @import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&family=Roboto&display=swap");

// $white: white;
// $black: black;
$grey: #898a8b;

html, body {
        margin: 0;
        padding: 0;
        height: 100%;
        font-family: "Poppins",sans-serif;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.6;
        color: #212529;
        text-align: left;
        background-color: #fff;
}


.dropdown-toggle img {
        height: 35px;
        width: 30px;
        margin-right: 12px;
        // background-color: #7f7f7f;
}

.jumbotron {
       min-height: 650px;
       padding-top: 150px;
       margin-top: 66px;
       margin-bottom: 0;
}

.move-section {
       padding-top: 300px;
       margin-top: 66px;
}

.move-footer {
       height: 100%;
}

.footer {
        // position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #f5f5f5;
        left: 0; 
        right: 0;
        // top: 66px;
}

.bg-gray {
        background-color: #343b3f;
}

.w-1rem {
        height: 25px;
        width: 20px;
}

.fixed-top {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
}

.nag {
        font-weight: 600;
        margin-top: 5px;
        margin-right: 7px;
        
}

.rev {
        text-transform: uppercase;
        letter-spacing: 2.8px;
}

.user-btn {
        margin-left: 330px;
}

.center-btn {
        justify-content: center;
        margin-left: 400px;
        // position: relative;
}
.hover-animated {
        transition: all 0.2s ease-in-out;
}

.long {
        width: 500px;
}

.next {
        margin: 0;
        display: inline-block; 
}

.roundedbtn {
        border-radius: 2em;
}

a.removelink {
        text-decoration: none!important;
}

.grey {
        color: #7f7f7f;
}

.box-color {
        border-radius: 5px;
        border:1px solid #ced4d9;

}

.center-form {
        margin-left: -140px;
}
.small-icon img {
        height: 50px;
        width: 50px;
}

.smaller-icon img {
        height: 20px;
        width: 20px;
}
// .move-footer {
//         padding-right: 100px;
// }

// .bg-grey {
//       background-color: #f5f5f5
// }


// .navbar {
//         margin-bottom: 0;
//         background: $black;
// }
// body {
//         background: $black;
//         color: $white;
//         font-family: 'Merriweather', sans-serif;
// }
// h1,
// h2 {
//         font-weight: bold;
// }
// p {
//         font-size: 16px;
//         color: $white;
// }
// a:visited {
//         color: $black;
// }
// .jumbotron {
//         background: #0048CD;
//         color: $white;
//         text-align: center;
//         p {
//                 color: $white;
//                 font-size: 26px;
//         }
// }
// .link {
//         color: $white;
// }
// .btn-primary {
//         color: $white;
//         border-color: $white;
//         margin-bottom: 5px;
// }
// .btn-sm {
//         background-color: $white;
//         display: inline-block;
// }
// img,
// video,
// audio {
//         margin-top: 20px;
//         max-width: 80%;
// }
// caption {

//         float: left;
//         clear: both;

// }
