<div class="jumbotron" style="background: url(https://blog.hubspot.com/hubfs/GrowthExpertsToFollow-compressor.jpg); background-size: cover; background-repeat: no-repeat; background-position: center;">
      <div class="container">
        <div class="row">
          <div class="offset-xl-1 col-xl-10 col-md-12 col-12">
            <div class="py-13 pt-lg-16 pb-lg-14 text-center text-light">
              <h3 class="display-4 font-weight-bold text-white mb-2">
                Become the hero of your own story
              </h3>
              <p class="px-lg-14 mb-4 lead">
                Join our community of like-minded individuals.<br>
              </p>
              <div class="row justify-content-center">
                <div class="col-2"><%= button_to "Signup", signup_path, class: "btn btn-primary btn-md"%></div>
                <div class="col-2"><%= button_to "Login", login_path, class: "btn btn-primary btn-md"%></div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>